html, body, #map {
  height: 100%; /* Full height */
  width: 100%;  /* Full width */
}
body {
  font-family: 'Titillium Web', sans-serif;
  color: #333333; /* Dark grey color */
  margin: 0 auto; 
  padding: 0;
}
h2 {
  color: #00b3d2;
  margin: 10; 
  padding: 10;
}
h3 {
  color: #025893;
}
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
@media (max-width: 768px) {
  .filter-group {
      position: relative; /* Use relative positioning for better flow on small screens */
      top: auto;
      right: auto;
      width: 100%; /* Use full width on smaller screens */
      padding: 10px 5px; /* Reduce padding to fit smaller screen */
      font-size: 14px; /* Slightly larger font for readability */
      z-index: 2; /* Ensure it's visible over the map */
  }

  .filter-group input[type='checkbox']:checked + label {
      font-weight: normal; /* Avoid bold text on small screens */
  }

  #map {
      height: 50vh; /* Set map height to 50% of the viewport height */
  }
}
.filter-group {
  font: 12px/20px 'Titillium Web', sans-serif;
  font-weight: normal;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  border-radius: 3px;
  width: 235px; /* Increase width for better layout */
  background: rgb(255, 255, 255); /* Semi-transparent background */
  padding: 10px; /* Padding for better spacing */
}

.filter-group input[type='checkbox'] {
  display: none; /* Hide original checkbox */
}

/* Style the custom checkbox */
.custom-checkbox {
  display: inline-block;
  width: 13px; /* Outer circle width */
  height: 13px; /* Outer circle height */
  border: 2px solid black; /* Black border */
  position: relative; /* Position relative for inner circle */
  cursor: pointer; /* Show pointer on hover */
  transition: background-color 0.2s, border-color 0.2s; /* Smooth transition */
  margin-right: 8px; /* Add space between checkbox and text */
}

/* Show inner circle when checkbox is checked */
.filter-group input[type='checkbox']:checked + label .custom-checkbox {
  background-color: rgb(255, 255, 255); /* Inner circle color when checked */
}

/* Style the inner circle */
.custom-checkbox:after {
  content: '';
  position: absolute;
  width: 9px; /* Width of the inner circle */
  height: 9px; /* Height of the inner circle */
  background-color: rgb(0, 0, 0); /* Inner circle color */
  left: 50%; /* Center it */
  top: 50%; /* Center it */
  transform: translate(-50%, -50%); /* Adjust position */
  opacity: 0; /* Hide inner circle initially */
  transition: opacity 0.2s; /* Smooth transition for inner circle */
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

/* Show inner circle when checkbox is checked */
.filter-group input[type='checkbox']:checked + label .custom-checkbox:after {
  opacity: 1; /* Show inner circle */
}

/* Style the label */
.filter-group label {
  display: flex; 
  align-items: center; 
  justify-content: flex-start;  /* Ensures spacing between text and count */
  width: 100%; /* Ensures the label takes full width */
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
  position: relative;
  flex-wrap: wrap; 
}
.count-display {
  margin-left: 5px; /* Space between text and count */
  font-size: 12px;
  color: rgb(95, 95, 95);
  flex-shrink: 0; /* Prevent the count from shrinking */
  margin-top: 5px; /* Adjust the top margin to ensure proper alignment when wrapped */
}

/* Change font weight for checked labels */
.filter-group input[type='checkbox']:checked + label {
  font-weight: bold; /* Bold font for checked labels */
}

/* Color indicator */
.color-indicator {
  display: inline-block; /* Allow it to be inline with text */
  width: 10px; /* Circle width */
  height: 10px; /* Circle height */
  border-radius: 50%; /* Make it circular */
  margin-right: 8px; /* Space between circle and label text */
  vertical-align: middle; /* Aligns it nicely with text */
  position: absolute; /* Absolute positioning */
  right: 20px; /* Align to the right of the filter group */
}

.maplibregl-popup {
  max-width: 400px;
  font: 14px/20px 'Titillium Web', sans-serif;
}
@media (max-width: 768px) {
  .custom-checkbox {
      width: 16px; /* Slightly larger outer circle */
      height: 16px; /* Larger area for touch targets */
  }

  .filter-group label {
      font-size: 14px;  /* Larger font size for better readability */
      padding: 8px;  /* Reduce padding to make labels fit better */
  }
}


html, body, #map {
    height: 100%; /* Full height */
    width: 100%;  /* Full width */
}
body {
    font-family: 'Titillium Web', sans-serif;
    color: #333333; /* Dark grey color */
    margin: 0 auto; 
    padding: 0;
}


@media (max-width: 768px) {
    .filter-group {
        position: relative; /* Use relative positioning for better flow on small screens */
        top: auto;
        right: auto;
        width: 100%; /* Use full width on smaller screens */
        padding: 10px 5px; /* Reduce padding to fit smaller screen */
        font-size: 14px; /* Slightly larger font for readability */
        z-index: 2; /* Ensure it's visible over the map */
    }

    .filter-group input[type='checkbox']:checked + label {
        font-weight: normal; /* Avoid bold text on small screens */
    }

    #map {
        height: 100vh; /* Set map height to 50% of the viewport height */
    }
}


@media (max-width: 768px) {
    .custom-checkbox {
        width: 16px; /* Slightly larger outer circle */
        height: 16px; /* Larger area for touch targets */
    }

    .filter-group label {
        font-size: 14px;  /* Larger font size for better readability */
        padding: 8px;  /* Reduce padding to make labels fit better */
    }
}

.Umbruch::after {
  content: '\A';
  white-space: pre;    
}
#toggle-filters {
  display: block;
  margin: 10px 0;
  background-color: #025893;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
@media (max-width: 768px) {
    #filter-group {
        position: relative;
        font-size: 14px;
        padding: 10px;
    }
    #filters-content {
        display: block;
    }
}
#slideshow {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Use the full width of the screen */
  display: flex;
  justify-content: center; /* Center the logos */
  align-items: center; /* Align them properly */
  gap: 40px; /* Space between images */
  padding: 10px 0; /* Add some padding to prevent cutting off */
  z-index: 800;
  background-color: white;
}

.slideshow-image {
  max-height: 45px; /* Adjust height to ensure they fit */
  width: auto; /* Keep aspect ratio */
  object-fit: contain; /* Prevent cropping */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.fade-in {
  opacity: 1;
}



.maplibregl-popup {
  max-width: 400px;
/* Adjust padding to reduce extra space */

}

.popup-default .maplibregl-popup-content {
    background-color: white; /* White background */
}

.maplibregl-popup-content {
  padding: 0px; /* Reduce padding inside the popup content */
}


.maplibregl-popup ul {
  margin: 0; /* Remove unnecessary margin around the list */
  padding-left:   10px; 
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 0px;/* Add horizontal padding for better alignment */
  list-style-position: inside; /* Align bullets inside the popup border */
  list-style-type: none;
}

.maplibregl-popup li {
  margin-bottom: 4px; /* Space between list items */
  font-size: 14px; /* Consistent font size for the list */
}

.popup-planning .maplibregl-popup-tip {
  border-top-color: #4ba83b !important;
  border-bottom-color: #4ba83b !important;
}
.popup-construction .maplibregl-popup-tip {
  border-top-color: #025893!important;
  border-bottom-color: #025893!important; /* Change the triangle color  */
}
.popup-research .maplibregl-popup-tip {

  border-bottom-color: #95338a !important;; /* Change the triangle color  */
}

.popup-energy .maplibregl-popup-tip {
  border-bottom-color: #ff8c00 !important; /* Change the triangle color  */
}
.popup-heat .maplibregl-popup-tip {
  border-bottom-color: #e51626 !important; /* Change the triangle color  */
}

.popup-electricity .maplibregl-popup-tip {
  border-bottom-color: #e1c200 !important; /* Change the triangle color  */
}


.maplibregl-popup-close-button {
  position: absolute; /* Position the button at the top-right of the popup */
  top: 5px; /* Adjust vertical alignment */
  right: 5px; /* Adjust horizontal alignment */
  background-color: transparent; /* Transparent background */
  border: none; /* Remove default border */
  color: #ffffff; /* Match the title text color */
  font-size: 16px; /* Slightly larger for better visibility */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 2px 5px; /* Small padding for a clean look */
  line-height: 1; /* Align the button neatly */
}

.maplibregl-popup-close-button:hover {
  color: #e0e0e0; /* Slightly lighter on hover */
  background-color: rgba(0, 0, 0, 0.1); /* Add subtle hover effect */
  border-radius: 50%; /* Optional: circular hover effect */
}